:root {
    --PrimaryColor: hsl(240, 64%, 27%);
    --HoverColor: hsl(219, 87%, 30%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --graybg: hsl(0, 0%, 96%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
}

.decoration {
       background-color: black;
    .decorationContainer {
         height: 100vh;
 




        .decorationText {
            text-align: center;

            .title {
                color: var(--whiteColor);
                font-size: 3rem;
                font-weight: 700;
                line-height: 2.5rem;
                font-style: bold;
            }



        }

        .mainContent {
            padding: 2rem;
            gap: 1rem;

            .decorationItem {
                overflow: hidden;
                border-radius: 1rem;
                box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.045);

                .destImage {
                    //height: 200px;
                    //width: 100%;
                    position: relative;
                    //overflow: hidden;

                    .description {
                            position: relative;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            justify-content: center;
                            //padding: 1rem;
                            color: var(--whiteColor);
                    
                        }
                    .review {
                                position: relative;
                                 bottom: 0;
                                left: 0;
                                width: 100%;
                                justify-content: center;
                                        
                                color: var(--whiteColor);
                        
                                                }
                     .price {
                                position: relative;
                                 bottom: 0;
                                 left: 0;
                                  width: 100%;
                                  justify-content: center;
                                        
                                   color: var(--whiteColor);
                    
                            }
                     .theme {
                                  position: relative;
                                  bottom: 0;
                                  left: 0;
                                  width: 100%;
                                  justify-content: center;
                                    color: var(--whiteColor);
                                    }
                                        .type {
                                            position: relative;
                                            bottom: 0;
                                            left: 0;
                                            width: 100%;
                                            justify-content: center;
                                            color: var(--whiteColor);
                                        }
                        img {
                            height: 200px;
                            width: 100%;
                            object-fit: cover;
                        }
                }

                
            }
        }
    }

}